.page-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    padding: 10px;
    text-align: center;
}


.fixe {
    position: fixed; /* Le contenu reste fixe */
   
}

.proposition-item {
    margin-top: 10px; /* Ajoutez la marge supérieure souhaitée en pixels */
}




